#cardContainer{
  justify-content: space-around !important;
  margin-top: 2em;
  margin-left: 10em;
  margin-right: 10em;
}

#portfolioContainer{
background: url('../../assets/images/abstract-1022206_1920.jpg');  
padding-top: 1em;
padding-bottom: 2em;
height: 100vh;
background-attachment:scroll;
overflow-y: scroll;
}
