#cardContainer{
  margin-top: 2em;
  margin: 10 auto;
  justify-content: center;
}

#portfolioContainer{
background: url('../../assets/images/fractal-2573303.jpg') no-repeat;  
background-position: center;
background-size: cover;
padding-top: 1em;
padding-bottom: 2em;
height: 100vh;

background-attachment:scroll;
overflow-y: scroll;
}
